{% extends 'mainapp/base.html' %}
{% block title %}{{ products.name }}{% endblock %}
{% block content %}
<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <div class="images p-3">
                            <div class="text-center p-4"> <img style="height: 250px; width: auto;" id="main-image" src="{{ products.image.url }}" /> </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product p-4">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center"> <i class="fa fa-long-arrow-left"></i> <span class="ml-1">{{ products.name }}</span> </div> <i class="fa fa-shopping-cart text-muted"></i>
                            </div>
                            <div class="mt-4 mb-3">
                                <h5 class="text-uppercase">Категория: {{ products.category }}</h5>
                                <div class="price d-flex flex-row align-items-center"> <span class="act-price">количество: {{products.numbers}}</span>
                                </div>
                            </div>
                            <p class="about">{{ products.descriptions }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}